<table>
	<tr>
		<td class="inPageLink"><a href="/people">Home</a></td>
		<td class="inPageLink"><a href="/people/new">New</a></td>
		<td class="inPageLink"><a href="/people/">Edit</a></td>
		<td class="inPageLink"><a href="/people/">Delete</a></td>
	</tr>
</table>
<hr>