<form action="/people" method="post">
	<label for="first_name" method="post">First Name:</label>
	<input type="text" name="first_name" />
	
	<label for="last_name" method="post">Last Name:</label>
	<input type="text" name="last_name" />
	
	<label for="birthdate" method="post">Birthdate:</label>
	<input type="date" name="birthdate" />
	
	<input type="submit" />
</form>