<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Numerology App</title>
	<style>
	p { color: blue; }
	p.about {color: gray;}
	</style>
</head>
<body>

<div class="container">
<div class="header"><h1>Numerology App <small>A Skillcrush Project</small></h1></div>
<hr>
<%= yield %>
<div>
<hr>
<h4>About the developer</div>
<p class="about">I have been interested in web design and development since the early nineties. My first site, which was with Geocities,
allowed me to learn some basic HTML and get a taste for web development. I started using their WYSIWYG interface, but quickly
began picking things apart with the advance editor when I realized the basic editor didn't give me enough control over my site.</p>
<p class="about">I have toyed on and off with the idea of becoming a Professional for years, but had trouble finding the time (and confidence)
to learn. Within the last couple of years, I decided to stop making excuses and go for it.</p>
</div>
</div>

</body>
</html>
